html {
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    background-image: url('../images/cover10.jpeg'), url('../images/cover10.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    
}
.bulma-image {
    width: 200px;
}
.interests {
    display: flex;
    justify-content: center;
}
.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}
.skill-percentage {
	float: right;
}
.education-information {
	float: center;
}
#footer {
    background-image: url('../images/footer.jpeg'), url('../images/footer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.item {
    width: 100%
}
.projects-table {
    display: flex;
    flex-wrap: wrap;
}
.projects-table>div {
    flex: 0 50%;
}
@media only screen and (max-width: 750px) {
    .projects-table>div {
        flex: 0 100%;
    }
}

.card {
    cursor: pointer;
}
.card-image {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.card:hover .card-image {
    opacity: 1;
    height: auto;
    cursor: pointer;
}
.demo-link {
    display: none;
}
.card:hover .demo-link {
    cursor: pointer;
    display: block;
}